@import "../../styles/variables";

.wordList {
  width: 75%;
  margin: 4rem 0;
  border: 1px solid darkgray;
  border-spacing: 0;

  .topRow {
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(228, 203, 195);
  }

  .headerCell {
    padding: 10px 0;
  }

  .topRow,
  .headerCell,
  .cell,
  .buttonContainer {
    border: 1px solid darkgray;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .cell {
    padding-left: 1rem;
  }
}

.errorMsg {
  font-size: 0.7rem;
  color: $red;
}
