@import "../../styles/variables";

.wordList {
  width: 75%;
  margin: 4rem 0;
  border: 1px solid darkgray;
  border-spacing: 0;

  th:nth-child(1),
  td:nth-child(1) {
    width: 4%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 25%;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 30%;
  }

  .topRow {
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(228, 203, 195);
  }

  .headerCell {
    padding: 10px 0;
  }

  .topRow,
  .headerCell,
  .cell,
  .buttonContainer {
    border: 1px solid darkgray;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .cell {
    padding-left: 1rem;
  }

  @include mobile {
    margin: 2rem 0;
    width: 95%;
    table-layout: fixed;
    font-size: 0.8rem;

    .topRow {
      font-size: 1.1rem;
    }

    .headerCell,
    .cell {
      padding: 8px 4px;
    }

    .cell {
      .input {
        width: 100%;
        min-width: 0;
        box-sizing: border-box;
      }
    }

    .buttonContainer {
      gap: 0.1rem;
    }
  }
}

.errorMsg {
  font-size: 0.7rem;
  color: $red;
}
