@import "../../styles/variables";

.wordList {
  border: 1px solid darkgray;
  border-spacing: 0;

  .topRow {
    text-align: center;
    background-color: rgb(228, 203, 195);
  }

  .topRow,
  .headerCell,
  .cell,
  .buttonContainer {
    border: 1px solid darkgray;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}
