@import "../../../styles/variables";

.bannerContainer {
  margin: 4rem 0;
  display: flex;
  align-items: center;

  .imageContainer {
    max-height: 500px;

    img {
      max-height: 500px;
    }
  }

  .textContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 2rem;

    h1 {
      margin: 0;
      font-size: 4rem;
      font-weight: 600;
      span {
        color: $green;
      }
    }

    a {
      @include link;
    }
  }

  @include mobile {
    flex-flow: column nowrap;
    align-items: center;
    margin: 2rem 0;

    .imageContainer {
      align-self: end;
      max-width: 270px;
      margin-bottom: 0.5rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .textContainer {
      align-items: start;
      text-align: left;

      h1 {
        font-size: 2.7rem;
      }
    }
  }
}

.stepsContainer {
  margin: 4rem 0 6rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 3rem;
    text-shadow: 5px 5px 10px $shadow-color;
  }

  .steps {
    display: flex;
    gap: 3rem;
  }

  @include mobile {
    margin: 2rem 0;
    align-items: center;

    h2 {
      font-size: 2rem;
      margin: 0;
    }

    .steps {
      flex-flow: column nowrap;
      align-items: center;
      gap: 1.5rem;
    }
  }
}
