@import "../../../styles/variables";

.bannerContainer {
  margin: 4rem 0;
  display: flex;
  align-items: center;

  .imageContainer {
    max-height: 500px;

    img {
      max-height: 500px;
    }
  }

  .textContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 2rem;

    h1 {
      margin: 0;
      font-size: 4rem;
      font-weight: 600;
      span {
        color: $green;
      }
    }
  }
}

.stepsContainer {
  margin: 4rem 0 6rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 3rem;
    text-shadow: 5px 5px 10px $shadow-color;
  }

  .steps {
    display: flex;
    gap: 3rem;

    .step {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 250px;
      padding: 20px 20px;
      border: 2px solid black;
      border-radius: 16px;
      background-color: lighten($card-background, 30%);
      box-shadow: 10px 10px 13px $shadow-color;

      p {
        text-align: center;
      }
    }
  }
}
