@import "../../styles/variables";

.errorMsg {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: $red;
  border: 2px solid $red;
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
