//Fonts
$base-font-family: "Manrope";
$base-font-size: 18px;
$base-font-weight: 400;

//Colors
$blue: #29a6d2;
$light-blue: #c3e2ff;
$red: #f94632;
$pink: #f79bb4;
$light-pink: #ffb0ba;
$green: #2cbf8b;
$yellow: #facc43;
$background: #f3ebe0;

//Base button
@mixin button {
  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }
}

//Base link
@mixin link {
  color: inherit;
  cursor: pointer;

  &:visited {
    filter: brightness(50%);
  }

  &:hover {
    filter: brightness(85%);
  }
}
