@import "../../styles/variables";

.mainContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 60%;

  .wordsLearned {
    padding: 12px;
    align-self: end;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 32px;
    border: 2px solid $blue;
    background-color: rgb(255, 253, 253);

    p {
      margin: 0;
      padding: 3px;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .counter {
      color: $blue;
      font-size: 3rem;
      font-weight: 600;
    }
  }
}

.finalCard {
  min-width: 250px;
  min-height: 350px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 2px solid $red;
  background-color: $card-background;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  h3 {
    font-size: 1.4rem;
  }

  p {
    text-align: center;
  }
}
