@import "../../../styles/variables";

.slider {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 1rem;

  .cardsContainer {
    margin-top: 4rem;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 2rem;

    .clickButton {
      padding: 5px;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $card-background;
      border: 2px solid $pink;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
