.header {
  min-height: 140px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 100px;
  background-image: url(../../assets/images/header-image.svg);
  background-position: 0% 38%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;

  a {
    .logo {
      height: 90px;
      padding: 0 50px;
    }
  }
}
