@import "./styles/variables";

.App {
  margin: 0 auto;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;

  main {
    padding: 3rem 0;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: $background;
  }
}
