button {
  cursor: pointer;
  margin: 5px;
  padding: 3px 10px;
  border-radius: 6px;
  border: 1px solid rgb(104, 104, 104);
}
button:hover {
  filter: brightness(85%);
}

.edit {
  background-color: rgba(251, 201, 107, 0.681);
}

.delete {
  background-color: rgba(250, 5, 5, 0.594);
}

.cancel {
  background-color: rgb(203, 196, 196);
}

.save {
  background-color: rgba(119, 213, 119, 0.747);
}

.default {
  background-color: aliceblue;
}