@import "../../styles/variables";

button {
  @include button;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid rgb(180, 180, 180);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 5px 10px;
  }
}

.edit {
  background-color: $yellow;
}

.delete {
  background-color: $red;
}

.cancel {
  background-color: darken($card-background, 10%);
}

.save {
  background-color: $green;
  color: lighten($card-background, 40%);
}

.default {
  background-color: $light-blue;
  color: $card-background;
}
