@import "../../../styles/variables";

.button {
  background-color: $green;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-color: $pink;
    outline-style: solid;
    outline-width: 1.5px;
  }
}
